body {
  width: 100%;
  height: 100%;
  position: relative;
  background: #F5F7FA;
  background-size: cover;
  font-family: "Lato", Arial, sans-serif;
}

.main-container {
  width: 80%;
  /*test */
  position: relative;
  margin: 0 auto;
  background: #fff;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 3px #666;
}

.banner {
  width: 98.1%;
  height: 50px;
  padding: 1%;
  display: block;
  background: #3e5873; /* Old browsers */
  background: -moz-linear-gradient(top,  #3e5873 0%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e5873), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3e5873 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3e5873 0%,#7db9e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #3e5873 0%,#7db9e8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #3e5873 0%,#7db9e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e5873', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  border-radius: 10px 10px 0px 0px;
  box-shadow: 1px 1px 3px #666;
}
.assignment-title {
  float: left;
  margin-left: 25px;
  width: 30%;
  color: #fff;
  font-weight:bolder;

}

.logo {
  position: relative;
  width: 33%;
  display: inline-block;
  text-align: center;
}


.names {
  position: relative;
  width: 30%;
  color: #fff;
  font-weight:bolder;
  display: inline-block;
  text-align: right;
  line-height: 50px;
}

.names > span {
  line-height: 5px
}

.header > h1 {
  text-align: center;
}

.end-container {
  width: 80%;
  color: #3e5873;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

.frontend-header {
  float: left;
  width: 50%;
}

.backend-header {
  display: inline-block;
  width: 50%;
}

.header-button {
  width: 150px;
  height: auto;
  background-color: #666;
  color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #333;
  margin: 0 auto;
  padding-bottom: 1px;
  padding-top: 1px;

}

.header-button:hover {
  margin:
}


#frontend-lang-container {
  margin: 0 auto;
  clear: both;
  width: 100%;
  overflow: hidden;
  display: none;
}


#frontend-lang-container > ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 80%;
}

#frontend-lang-container > ul > li {
  display: block;
  float: left;
  text-align: center;
  width: 33%;
  margin: 0;
  padding: 0;
}

#backend-lang-container {
  margin: 0 auto;
  clear: both;
  width: 100%;
  overflow: hidden;
  display: none;
}

#backend-lang-container > ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  list-style: none;

}

#backend-lang-container > ul > li {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  margin: 0;
  padding: 0;
}

#html-content-container, #css-content-container, #js-content-container, #csharp-content-container, #php-content-container, #java-content-container, #ruby-content-container {
  display: none;
}

/*frontend-lang-container*/
.content-container > div:nth-child(3) {
  width: 100%;
}


.content-layout {
  margin-top: 5px;
  clear: both;
  overflow: hidden;
}

.content-image {
  float: left;
  width: 200px;
  height: auto;
  border: 1px solid #666;
  box-shadow: 1px 1px 3px #666;
  border-radius: 10px;
  padding: 2px;
  margin: 20px;
  margin-bottom: 8px;
  margin-top: 2px;
}

.content {
  position: relative;
  text-align: left;
  margin-left: 25px;
}

.content-image img {
  width: 200px;
}

.content a:hover {
  background: #E74C3C;
}

body > div > div.html-content-container
